@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  } 
}

body {
  background-image: url('/margins.png');
  background-repeat: no-repeat;
}
/*letra del nav mobile*/
.Julius-Sans-One{
  font-family: var(--Julius-Sans-One);
}