@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  } 
}

html{
  scroll-behavior: smooth;
}

/*letra del nav mobile*/
.Julius-Sans-One{
  font-family: var(--Julius-Sans-One);
}
/*letra de textos generales*/
.Thasadith{
  font-family: var(--Thasadith);
}

/*animacion carousel de proyectos*/

.animate-scrollBanner {
  animation: scrollBanner 40s linear infinite;

}
.animate-scrollBanner:hover {
  animation-play-state: paused;
}

@keyframes scrollBanner {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(
      calc(-200px * 5 - 8px * 10));
  }
}
/*
CALCULO NECESARIO PARA QUE LA ANIMACION SEA CONTINUA SIN SALTOS:
ancho de la tarjeta * cantidad de tarjetas - margenes y padings * cantidad de elementos contando los duplicados.
*/